{%extends 'main.html' %}
{%load static%}
{%block content%}

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header header">

        <div class="header__logo">
            <a class="logo" href="{%url 'home_page' %}">
                <img src="{%static 'images/logo.svg' %}" alt="Homepage">
            </a>
        </div> <!-- end header__logo -->

        <a class="header__search-trigger" href="#0"></a>
        {%if page == 'search'%}
        <div class="header__search">
            <form method="get" id="search_____" class="header__search-form"  action="">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keywords" value="" name="search" title="Search for:" autocomplete="off">
                    <input class="search-field" checked role="search" type="radio" value="posted" name="posted"> Latest
                    <input class="search-field" role="search" type="radio" value="-posted" name="posted"> Oldest
                    <br>
                    <input class="search-field" checked role="search" type="radio" value="visitors" name="relevance"> Most visited
                    <input class="search-field" role="search" type="radio" value="-visitors" name="relevance"> Least Visisted
                    <input type="submit" class="search-submit" value="Search">
                </label>
            </form>
            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
        </div>  <!-- end header__search -->

        {%elif page == 'tag'%}
            <div class="header__search">
                <form method="get" id="search_____" class="header__search-form"  action="../../search/">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Keywords" value="" name="search" title="Search for:" autocomplete="off">
                        <input class="search-field" checked role="search" type="radio" value="posted" name="posted"> Latest
                        <input class="search-field" role="search" type="radio" value="-posted" name="posted"> Oldest
                        <br>
                        <input class="search-field" checked role="search" type="radio" value="visitors" name="relevance"> Most visited
                        <input class="search-field" role="search" type="radio" value="-visitors" name="relevance"> Least Visisted
                        <input type="submit" class="search-submit" value="Search">
                    </label>
                </form>
                <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
            </div>  <!-- end header__search -->

        {%else%}
        <div class="header__search">
            <form method="get" id="search_____" class="header__search-form"  action="../search">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keywords" value="" name="search" title="Search for:" autocomplete="off">
                    <input class="search-field" checked role="search" type="radio" value="posted" name="posted"> Latest
                    <input class="search-field" role="search" type="radio" value="-posted" name="posted"> Oldest
                    <br>
                    <input class="search-field" checked role="search" type="radio" value="visitors" name="relevance"> Most visited
                    <input class="search-field" role="search" type="radio" value="-visitors" name="relevance"> Least Visisted
                    <input type="submit" class="search-submit" value="Search">
                </label>
            </form>
            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
        </div>  <!-- end header__search -->
        {%endif%}


        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">

            <h2 class="header__nav-heading h6">Navigate to</h2>

            <ul class="header__nav">
                <li><a href="{%url 'home_page' %}" title="">Home</a></li>
                <li class="current" class="has-children">
                    <a  href="#0" title="">Categories</a>
                    <ul class="sub-menu">
                        <li><a href="{%url 'category_page' 'life' %}">War</a></li>
                        <li><a href="{%url 'category_page' 'life' %}">Life</a></li>
                        <li><a href="{%url 'category_page' 'life' %}">Travel</a></li>
                    </ul>
                </li>
                <li><a href="" title="">About</a></li>
                <li><a href="{%url 'about_page' %}" title="">Contact</a></li>
            </ul> <!-- end header__nav -->
            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

        </nav> <!-- end header__nav-wrap -->

    </header> <!-- s-header -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--top-padding">

        <div class="row narrow">
            {%if page == 'search'%}
                <div class="col-full s-content__header" data-aos="fade-up">
                    <h1 class="display-1 display-1--with-line-sep">Search: {{search_query}}</h1>
                </div>
            {%elif page == 'tag'%}
            <div class="col-full s-content__header" data-aos="fade-up">
                <h1 class="display-1 display-1--with-line-sep">Tag :{{tag}}</h1>
            </div>
            {%else%}
                <div class="col-full s-content__header" data-aos="fade-up">
                    <h1 class="display-1 display-1--with-line-sep">category :{{cateogry}}</h1>
                    <p class="lead">Dolor similique vitae. Exercitationem quidem occaecati iusto. Id non vitae enim quas error dolor maiores ut. Exercitationem earum ut repudiandae optio veritatis animi nulla qui dolores.</p>
                </div>
            {%endif%}
        </div>
        
        <div  id="main___" class="row entries-wrap add-top-padding wide">
  
        </div> <!-- end entries-wrap -->

        <div class="row pagination-wrap">
            <div class="col-full">
                <nav id="paginator__" class="pgn" data-aos="fade-up">

                </nav>
            </div>
        </div>

    </section> <!-- end s-content -->



<script>
   var  __search_and_filter__ = '{{search_and_filter}}'
   var category = '{{cateogry}}'
   var tag = '{{tag}}'
</script>
{%endblock%}
